%message {
  @media (min-width: 500px) {
    border: 2px solid #0073ff;
  }

  @media (max-width: 499px) {
    border: 2px solid red;
  }
}

body {
  margin: 2px;
  padding: 20px;
}

h3 {
  border: 2px solid black;
  text-align: center;
  margin: 1px;
  width: 300px;
}

#one {
  @extend %message;
}

#two {
  @extend %message;
}

#three {
  @extend %message;;
}

.links {
  display: flex;
  flex-wrap: wrap;
}
